.container {
 max-width: 100%;
 padding: 30px;
  @media screen and (max-width: 768px) {
      padding: 20px 15px;
  }
  @media screen and (max-width: 320px) {
        padding: 20px 10px 
      }
}


.row {
  margin: -15px;
    @media screen and (max-width: 320px) {
        margin: -20px -10px 0;
    }
}

